/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 *
 * Rofi Theme File
 * Rofi Version: 1.7.3
 **/

/*****----- Configuration -----*****/
configuration {
    modi:                       "drun,run,filebrowser";
    combi-modi: "drun,run,filebrowser";
}



//@theme "/usr/share/rofi/themes/Arc-Dark.rasi"

@theme "/usr/share/rofi/themes/Arc-Dark.rasi"
