* {
    background:     {{background}}FF;
    background-alt: {{color0}}FF;
    foreground:     {{foreground}}FF;
    selected:       {{color12}}FF;
    active:         {{color4}}FF;
    urgent:         {{color9}}FF;
}
