[submodule "env/.config/nvim"]
	path = env/.config/nvim
	url = git@github.com:LukePeltier/neovim-config.git
[submodule "tmux-sessionizer"]
	path = tmux-sessionizer
	url = git@github.com:LukePeltier/tmux-sessionizer.git

