fish_variables

/completions/*
!/completions/.gitkeep

/functions/*
!/functions/bat.fish
!/functions/cat.fish
!/functions/fish_greeting.fish
!/functions/fish_user_key_bindings.fish
!/functions/fixit.fish
!/functions/fuck.fish
!/functions/ll.fish
!/functions/ls.fish
!/functions/fisher.fish

/themes/*
!/themes/.gitkeep

/conf.d/*
!/conf.d/.gitkeep
!/conf.d/brew.fish
!/conf.d/deno.fish
!/conf.d/mise.fish
!/conf.d/opam.fish
!/conf.d/rustup.fish
!/conf.d/uv.fish
!/conf.d/zoxide.fish
!/conf.d/zvm.fish
