fish_variables

/completions/*
!/completions/.gitkeep

/functions/*

/themes/*
!/themes/.gitkeep

/conf.d/autopair.fish
/conf.d/fish-ssh-agent.fish
/conf.d/fzf.fish
/conf.d/git.fish
/conf.d/nix-env.fish
/conf.d/fish_frozen_theme.fish
