/* Import wallust-generated colors */
@import "colors-matugen.css";

* {
    font-family: "JetBrainsMono Nerd Font", monospace;
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background-color: alpha(@background, 0.85);
    color: @foreground;
}

/* Workspaces */
#workspaces button {
    padding: 0 8px;
    color: @color7;
    background: transparent;
    border: none;
    border-radius: 0;
}

#workspaces button.focused {
    color: @color5;
}

#workspaces button.active {
    color: @foreground;
}

#workspaces button.urgent {
    color: @color1;
}

/* Taskbar */
#taskbar button {
    padding: 0 3px;
}

/* Clock */
#clock {
    color: @foreground;
    font-weight: bold;
    padding: 0 10px;
}

/* MPRIS */
#mpris {
    color: @color5;
    padding: 0 8px;
}

/* Privacy */
#privacy {
    padding: 0 6px;
}

/* Tray */
#tray {
    padding: 0 6px;
}

/* CPU */
#cpu {
    color: @color6;
    padding: 0 8px;
}

/* Memory */
#memory {
    color: @color5;
    padding: 0 8px;
}

/* Mouse Battery */
#custom-mouse-battery {
    color: @color13;
    padding: 0 8px;
}

/* Notifications */
#custom-notification {
    color: @color4;
    padding: 0 8px;
}
