/* ======================= */
/* Global Styles           */
/* ======================= */

@import "colors.css";
@define-color text-color @foreground;

* {
    all: unset;
    border: none;
    font-family: "JetBrainsMono Nerd Font Propo";
    font-size: 12px;
    box-shadow: none;
    min-height: 28px;
}

window#waybar {
    background: transparent;
}

/* ======================= */
/* Interactive States      */
/* ======================= */
#custom-power:hover {
    opacity: 0.8;
}

/* ======================= */
/* Workspace Management    */
/* ======================= */
#workspaces {
    margin: 0;
    padding: 0;
    background: @background;
    border-radius: 8px;
}

#taskbar button {
    background: @background;
    border-radius: 8px;
    margin: 0 4px;
    padding: 0 12px;
}

#workspaces button {
    color: @background;
    padding: 0 8px;
    margin: 0 4px;
    /* border: solid 2px transparent; */
    border-radius: 8px;
    color: @text-color;
}

#workspaces button.active {
    /* border: solid 2px @foreground; */
    background: @color8;
}

@keyframes urgent-pulse {
    0% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }
}

/* ======================= */
/* System Components       */
/* ======================= */
#clock {
    padding: 0 12px;
    margin: 0 4px;
    /* border: solid 2px @foreground; */
    border-radius: 8px;
    color: @text-color;
    background: @background;
    font-weight: 500;
}


#mpris {
    color: @text-color;
    padding: 0 12px;
    margin: 0 4px;
    border-radius: 8px;
    background: @background;
}

#mpris.playing {
    color: @color10;
    background: @background;
}

#mpris.paused {
    color: @color11;
    background: @background;
}

#mpris.stopped {
    color: @color9;
    background: @background;
}

#cpu {
    color: @text-color;
    background: @background;
    padding: 0 12px;
    margin: 0 4px;
    border-radius: 8px;
}

#memory {
    color: @text-color;
    background: @background;
    padding: 0 12px;
    margin: 0 4px;
    border-radius: 8px;
}

/* ======================= */
/* System Indicators       */
/* ======================= */
#tray {
    background: @background;
    padding: 0 12px;
    margin: 0 4px;
    /* border: solid 2px @foreground; */
    border-radius: 8px;
}

#privacy {
    background: @background;
    padding: 0 12px;
    margin: 0 4px;
    border-radius: 8px;
}

#privacy-item {
    color: @color3;
}

/* ======================= */
/* Menu                    */
/* ======================= */

tooltip label {
    color: @text-color;
    background: @background;
    border-radius: 4px;
    margin: 0 4px;
    padding: 0 12px;
}

menu {
    color: @text-color;
    background: @background;
    border-radius: 4px;
    margin: 0 4px;
    padding: 0 12px;
}



/* ======================= */
/* Power Menu              */
/* ======================= */
#custom-power,
#custom-notifications,
#idle_inhibitor {
    color: @text-color;
    background: @background;
    margin: 0 4px;
    padding: 0 12px;
    /* border: solid 2px @foreground; */
    border-radius: 8px;
}


#custom-notification,
#custom-mouse-battery {
    color: @text-color;
    background: @background;
    margin: 0 4px;
    padding: 0 12px;
    /* border: solid 2px @foreground; */
    border-radius: 8px;
}

menu separator {
    min-height: 1px;
    background: @color8
}
