/* ======================= */
/* Global Styles           */
/* ======================= */

@define-color text-color #c0caf5;
@define-color background #1a1b26;

* {
    border: none;
    font-family: "JetBrainsMono Nerd Font Propo";
    font-size: 12px;
    box-shadow: none;
    min-height: 28px;
}

window#waybar {
    background: transparent;
}

/* ======================= */
/* Interactive States      */
/* ======================= */
#custom-power:hover {
    opacity: 0.8;
}

/* ======================= */
/* Workspace Management    */
/* ======================= */
#workspaces {
    margin: 0;
    padding: 0;
    background: @background;
    border-radius: 8px;
}

#taskbar button {
    background: @background;
    border-radius: 8px;
    margin: 0 4px;
    padding: 0 12px;
}

#workspaces button {
    color: #24283b;
    padding: 0 8px;
    margin: 0 4px;
    /* border: solid 2px transparent; */
    border-radius: 8px;
    color: @text-color;
}

#workspaces button.active {
    /* border: solid 2px @foreground; */
    background: #292e42;
}

@keyframes urgent-pulse {
    0% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }
}

/* ======================= */
/* System Components       */
/* ======================= */
#clock {
    padding: 0 12px;
    margin: 0 4px;
    /* border: solid 2px @foreground; */
    border-radius: 8px;
    color: @text-color;
    background: @background;
    font-weight: 500;
}


#mpris {
    color: @text-color;
    padding: 0 12px;
    margin: 0 4px;
    border-radius: 8px;
    background: @background;
}

#mpris.playing {
    color: #9ece6a;
    background: @background;
}

#mpris.paused {
    color: #ff9e64;
    background: @background;
}

#mpris.stopped {
    color: #f7768e;
    background: @background;
}

#cpu {
    color: @text-color;
    background: @background;
    padding: 0 12px;
    margin: 0 4px;
    border-radius: 8px;
}

#memory {
    color: @text-color;
    background: @background;
    padding: 0 12px;
    margin: 0 4px;
    border-radius: 8px;
}

/* ======================= */
/* System Indicators       */
/* ======================= */
#tray {
    background: @background;
    padding: 0 12px;
    margin: 0 4px;
    /* border: solid 2px @foreground; */
    border-radius: 8px;
}

#privacy {
    background: rgba(255, 255, 0, 0.1);
    padding: 0 12px;
    margin: 0 4px;
    /* border: solid 2px #d79921; */
    border-radius: 8px;
}

#privacy-item {
    color: #d79921;
}

/* ======================= */
/* Menu                    */
/* ======================= */

tooltip class {
    color: @text-color;
}


/* ======================= */
/* Power Menu              */
/* ======================= */
#custom-power,
#idle_inhibitor {
    color: @text-color;
    background: @background;
    margin: 0 4px;
    padding: 0 12px;
    /* border: solid 2px @foreground; */
    border-radius: 8px;
}


#custom-notification {
    color: @text-color;
    background: @background;
    margin: 0 4px;
    padding: 0 12px;
    /* border: solid 2px @foreground; */
    border-radius: 8px;
}
