[user]
	email = "luke@lukepeltier.com"
	name = Luke Peltier
	signingkey = /home/luke/.ssh/id_ed25519.pub
[core]
	editor = nvim
[init]
	defaultBranch = main
[gpg]
	format = ssh
[commit]
	gpgsign = true
[pull]
	rebase = false
[pager]
	branch = false
[column]
	ui = auto
[branch]
	sort = -committerdate
[rerere]
	enabled = true
[fetch]
	prune = true
