// Autostart applications

spawn-at-startup "systemctl" "--user" "start" "plasma-polkit-agent"
spawn-at-startup "systemctl" "--user" "start" "gnome-keyring-daemon.service"
spawn-at-startup "systemctl" "--user" "start" "cliphist.service"
spawn-at-startup "qs" "-c" "noctalia-shell"

spawn-at-startup "udiskie"
spawn-at-startup "qpwgraph"
spawn-at-startup "carla-rack" "--no-gui" "~/patchbays/gain+limit.carxp"

spawn-at-startup "clipboard-sync"

spawn-at-startup "1password" "--silent"
