// Autostart applications

// spawn-at-startup "cosmic-ext-alternative-startup"

spawn-at-startup "systemctl" "--user" "start" "plasma-polkit-agent"
spawn-at-startup "systemctl" "--user" "start" "gnome-keyring-daemon.service"
spawn-at-startup "systemctl" "--user" "start" "cliphist.service"
spawn-at-startup "systemctl" "--user" "start" "mako.service"
spawn-at-startup "systemctl" "--user" "start" "waybar.service"
spawn-at-startup "awww-daemon"

// spawn-at-startup "udiskie"
spawn-at-startup "qpwgraph"
spawn-at-startup "carla-rack" "--no-gui" "~/patchbays/gain+limit.carxp"

spawn-at-startup "1password" "--silent"

spawn-at-startup "sh" "-c" "sleep 1 && ~/.local/bin/wallpaper-set ~/Pictures/wallpapers/current"


spawn-at-startup "swayidle" "-w" \
  "timeout" "300" "swaylock -f" \
  "timeout" "600" "niri msg action power-off-monitors" \
  "resume" "niri msg action power-on-monitors" \
  "before-sleep" "swaylock -f"

spawn-at-startup "sh" "-c" "sleep 5 && easyeffects --gapplication-service"
