// Environment variables

environment {
    DISPLAY ":0"
    QT_WAYLAND_DISABLE_WINDOWDECORATION "1"
    QT_QPA_PLATFORMTHEME "qt6ct"
    XCURSOR_SIZE "24"

    XDG_SESSION_TYPE "wayland"
    XDG_MENU_PREFIX "arch-"

    SDL_VIDEODRIVER "wayland"
    MOZ_ENABLE_WAYLAND "1"
    ELECTRON_OZONE_PLATFORM_HINT "wayland"
    OZONE_PLATFORM "wayland"

    XCOMPOSEFILE "$HOME/.XCompose:"

    QS_ICON_THEME "Cosmic"
}
