layout {

    focus-ring {
        active-color   "#8ccff1"
        inactive-color "#0f1417"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#8ccff1"
        inactive-color "#0f1417"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#8ccff1"
        inactive-color "#004d65"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#8ccff180"
    }
}
