:root {
  --bg: #121317;
  --bg-rgb: 18, 19, 23;
  --fg: #e3e2e7;
  --color4: #abc7ff;
  --color4-rgb: 171, 199, 255;
  --color5: #bcc7df;
  --color5-rgb: 188, 199, 223;
  --color7: #c4c6d0;
  --color8: #43474f;
  --color8-rgb: 67, 71, 79;
}
