:root {
  --bg: #131314;
  --bg-rgb: 19, 19, 20;
  --fg: #e4e2e2;
  --color4: #bdc8d0;
  --color4-rgb: 189, 200, 208;
  --color5: #c4c7ca;
  --color5-rgb: 196, 199, 202;
  --color7: #c3c7ca;
  --color8: #43474a;
  --color8-rgb: 67, 71, 74;
}
