:root {
  --bg: #111418;
  --bg-rgb: 17, 20, 24;
  --fg: #e1e2e9;
  --color4: #a0c9ff;
  --color4-rgb: 160, 201, 255;
  --color5: #b2c8e9;
  --color5-rgb: 178, 200, 233;
  --color7: #c1c7d2;
  --color8: #414751;
  --color8-rgb: 65, 71, 81;
}
